.header{
  max-height: 36px;
  height: 100%;
  margin: 13px 19px 67px;
  display: flex;
  justify-content: space-between;
}
.header__burger{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  background-image: url('../../images/ci_menu-burger.svg');
  width: 35px;
  cursor: pointer;
}
.header__history{
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  background-image: url('../../images/fa-solid_history.svg');
  width: 36px;
}